body{
	/*font-family: Roboto;*/
}
.menu-list{
	width: 100%;
	min-height: 60px;
	text-align: center;
}
.menu-list li{
	display: inline-block;
	float: none;
}
.menu-list li a{
	margin: 0 25px;
	font-size: 25px;
}
.img-curso{
	max-width: 290px;
    max-height: 200px;
}
.catalog-container{
	margin-top: 20px;
}
.catalog-container img{
		cursor:pointer;
}
.catalog-container .card .card-content .product-title{
    font-weight: bold;
    line-height:20px;
    cursor: pointer;
}
.catalog-container .card .desc{
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.catalog-container .refresh{
    margin-top: 30px;
}
.header .cs{
	float: right;	
}
.header .cs a{
	font-size: 16px;
	margin: 0;
}
.login-form{
	float: right;
}
.fb-btn-content{
	margin: 0px 0px;
	text-align:center;
}
.login-form .btn-login,
.register-form .btn-registrar,
.fb-btn-content a{
	width: 100%;
}
.card-form{
	padding: 20px;
}
#map { height: 100%; }

.dashboard .item i{
    display: block;
}
.dashboard .item{
    text-align: center;
}
.dashboard .item a i{
    color: black;
}
.dashboard .item a i:hover{
    color: #c0ca33;
}
.image-store{
    width: 150px;
    height: 100px;
}
.nueva-tienda{
    margin-top: 10px;
    border: 1px solid black;
}