{% extends 'administrador/base.html' %}
{% load staticfiles %}
{% block content %}

<nav>
	<div class="nav-wrapper blue darken-1">
		<div class="col s12">
			<a href="{% url 'administrador' %}" class="breadcrumb">Dashboard</a>
			<a href="{% url 'dashboard_tiendas' %}" class="breadcrumb">Tiendas</a>
			<a href="#!" class="breadcrumb">Lista de Tienda</a>
		</div>
	</div>
</nav>
    <div class="container lista-tiendas">
        <table class="highlight bordered">
        <thead>
          <tr>
              <th data-field="id">Nombre</th>
              <th data-field="name">Direccion</th>
              <th data-field="price">Horario de Atención</th>
              <th data-field="price">Teléfono</th>
          </tr>
        </thead>

        <tbody>
            {% for tienda in tiendas%}
          <tr>
            <td>{{tienda.nombre}}</td>
            <td>{{tienda.direccion}}</td>
            <td>{{tienda.horario_atencion}}</td>
            <td>{{tienda.telefono}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>

{% endblock %}