{% extends 'presentation/base.html' %}
{% load staticfiles %}
{% block content %}

	<div class="container catalog-container">
		<div class="row filter-content">
			<div class="input-field col s12 m3 categoria">
				<select>
					{% if categoria %}
					<option value="" disabled selected>{{ categoria.nombre }}</option>
					{% else %}
					<option value="" disabled selected>Categorías</option>
					{% endif %}
					{% for categ in categorias %}
					<option data-url="{% url 'catalogo_categoria' categ.id %}" value="{% url 'catalogo_categoria' categ.id %}">{{ categ.nombre}}</option>
					{% endfor %}
					<option data-url="/catalogo" value="/catalogo">Todos</option>
				</select>
		  	</div>
			{% if categoria %}
			<div class="input-field col s12 m3 subcategorias">
				<select>
					{% if subcategoria %}
					<option value="" disabled selected>{{ subcategoria.nombre }}</option>
					{% else %}
					<option value="" disabled selected>Subcategorías</option>
					{% endif %}
					{% for subc in subcategorias %}
					<option data-url="{% url 'catalogo_subcategoria' categoria.id subc.id %}" value="{% url 'catalogo_subcategoria' categoria.id subc.id %}">{{ subc.nombre}}</option>
					{% endfor %}
				</select>
			</div>
			<div class="col s12 m3 refresh">
				<a href="/catalogo"><i class="material-icons">replay</i></a>
			</div>
			{% endif %}

		</div>
		<div class="row">
			{% for producto in productos %}
			<div class="col s12 m4 producto">
				<div class="card">
					<div class="card-image">
						<img class="materialboxed" src="{{ producto.imagen.url }}">
					</div>
					<div class="card-content">
						<span class="card-title product-title modal-trigger" data-target="modal1"
							 data-nombre="{{ producto.nombre }}"
							 data-descripcion="{{ producto.descripcion }}"
							 data-precio="{{ producto.precio }}"
							 data-url="{{ producto.imagen.url }}">{{ producto.nombre }}</span>
						<p class="desc">{{ producto.descripcion }}</p>
					</div>
					<div class="card-action">
						<div class="row">
							<div class="col s6 center-align">S/.{{ producto.precio }}</div>
							<div class="col s6 center-align"><a data-target="modal1" data-id="{{ producto.id }}" class="modal-trigger"><i class="material-icons">shopping_cart</i></a></div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
		<!-- Modal -->
		<div id="modal1" class="modal modal-fixed-footer">
			<div class="modal-content">
				<h4></h4>
				<img style="max-width:200px;" src="" alt="">
				<p></p>
				<span></span>
			</div>
			<div class="modal-footer">
				<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
			</div>
		</div>
	</div>


{% endblock %}