{% extends 'administrador/base.html' %}
{% load staticfiles %}
{% block content %}

    <nav>
        <div class="nav-wrapper blue darken-1">
            <div class="col s12">
                <a href="{% url 'administrador' %}" class="breadcrumb">Dashboard</a>
                <a href="#!" class="breadcrumb">Compras</a>
            </div>
        </div>
    </nav>
    <div class="container dashboard-tienda">
        <div class="row">
            <div class="col s6 m4 item">
                <a href="{% url 'nueva_compra' %}"><i class="large material-icons">add</i></a>
                <a href="{% url 'nueva_compra' %}">Nueva Compra</a>
            </div>
            <div class="col s6 m4 item">
                <a href="{% url 'lista_compras' %}"><i class="large material-icons">view_list</i></a>
                <a href="{% url 'lista_compras' %}">Ver Compras</a>
            </div>

        </div>
    </div>

{% endblock %}