{% extends 'administrador/base.html' %}
{% load staticfiles %}
{% block content %}

    <div class="container dashboard">
        <div class="row">
            <div class="col s6 m4 item">
                <a href="{% url 'dashboard_tiendas' %}"><i class="large material-icons">store</i></a>
                <a href="{% url 'dashboard_tiendas' %}">Tiendas</a>
            </div>
            <div class="col s6 m4 item">
                <a href="{% url 'dashboard_productos' %}"><i class="large material-icons">shopping_cart</i></a>
                <a href="{% url 'dashboard_productos' %}">Productos</a>
            </div>
            <div class="col s6 m4 item">
                <a href="{% url 'dashboard_compras' %}"><i class="large material-icons">shopping_basket</i></a>
                <a href="{% url 'dashboard_compras' %}">Compras</a>
            </div>
            <div class="col s6 m4 item">
                <a href="{% url 'dashboard_proveedores' %}"><i class="large material-icons">person_pin</i></a>
                <a href="{% url 'dashboard_proveedores' %}">Proveedores</a>
            </div>

        </div>
    </div>

{% endblock %}